<div class="feedback-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>What Our Client Says</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <owl-carousel-o [options]="customOptions" class="feedback-slides  owl-theme">
                    <ng-template carouselSlide>
                        <div class="single-feedback-box">
                            <p>“Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit
                                tortor eget felis porttitor volutpat. Praesent sapien massa, convallis a pellentesque
                                nec,
                                egestas non nisi. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget
                                consectetur sed convallis at tellus.”</p>
                            <div class="client-info">
                                <img src="assets/img/user/user1.jpg" alt="user">
                                <h3>Kelly J. Brown</h3>
                                <span>Manager</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-feedback-box">
                            <p>“Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit
                                tortor eget felis porttitor volutpat. Praesent sapien massa, convallis a pellentesque
                                nec,
                                egestas non nisi. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget
                                consectetur sed convallis at tellus.”</p>
                            <div class="client-info">
                                <img src="assets/img/user/user2.jpg" alt="user">
                                <h3>Sarah Taylor</h3>
                                <span>Developer</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-feedback-box">
                            <p>“Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit
                                tortor eget felis porttitor volutpat. Praesent sapien massa, convallis a pellentesque
                                nec,
                                egestas non nisi. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget
                                consectetur sed convallis at tellus.”</p>
                            <div class="client-info">
                                <img src="assets/img/user/user3.jpg" alt="user">
                                <h3>James Andy</h3>
                                <span>Designer</span>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="col-lg-6 xol-md-12">
                <div class="video-box">
                    <img src="assets/img/video.jpg" alt="video-image">
                    <a href="https://www.youtube.com/watch?v=0O2aH4XLbto" class="popup-video"><i
                            class='bx bx-play'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>