<!-- Start Categories Area -->
<div class="categories-area pb-75">
    <div class="container">

        <owl-carousel-o [options]="customOptions" class="categories-slide">
            <ng-template carouselSlide>
                <div class="categories-box">
                    <a href="shop-grid.html" class="d-block">
                        <img src="assets/img/categories/categories1.jpg" alt="categories-image">
                        <h3>Dog food</h3>
                        <span>18 items</span>
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="categories-box">
                    <a href="shop-grid.html" class="d-block">
                        <img src="assets/img/categories/categories2.jpg" alt="categories-image">
                        <h3>Cat food</h3>
                        <span>20 items</span>
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="categories-box">
                    <a href="shop-grid.html" class="d-block">
                        <img src="assets/img/categories/categories3.jpg" alt="categories-image">
                        <h3>Pet accessories</h3>
                        <span>23 items</span>
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="categories-box">
                    <a href="shop-grid.html" class="d-block">
                        <img src="assets/img/categories/categories4.jpg" alt="categories-image">
                        <h3>Dry food</h3>
                        <span>35 items</span>
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="categories-box">
                    <a href="shop-grid.html" class="d-block">
                        <img src="assets/img/categories/categories5.jpg" alt="categories-image">
                        <h3>Pet toys</h3>
                        <span>12 items</span>
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="categories-box">
                    <a href="shop-grid.html" class="d-block">
                        <img src="assets/img/categories/categories6.jpg" alt="categories-image">
                        <h3>Cat toys</h3>
                        <span>25 items</span>
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>

    </div>
</div>
<!-- End Categories Area -->