<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Cart</h1>
            <ul>
                <li><a [routerLink]="['/']">Home</a></li>
                <li>Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Cart Area -->
<div class="cart-area ptb-100">
    <div class="container">
        <form>
            <div class="cart-table table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of cart_product">
                            <td>
                                <a [routerLink]="['/cart']" class="remove" (click)="removeFromCart(data)">
                                    <i class='bx bx-trash'></i>
                                </a>
                            </td>
                            <td class="product-thumbnail">
                                <a [routerLink]="['/product-details']">
                                    <img src="{{data.image}}" alt="item">
                                    <h3>{{data.product}}</h3>
                                </a>
                            </td>
                            <td>${{data.price}}</td>

                            <td class="product-quantity">
                                <div class="input-counter">
                                    <span class="minus-btn" (click)="cartMinus(data)"><i class='bx bx-minus'></i></span>
                                    <input type="text" value={{data.quantity}}>
                                    <span class="plus-btn" (click)="cartAddQty(data)"><i class='bx bx-plus'></i></span>
                                </div>
                            </td>
                            <td>${{data.isTotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart-buttons">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-sm-12 col-md-7">
                        <div class="shopping-coupon-code">
                            <input type="text" class="form-control" placeholder="Coupon code" name="coupon-code"
                                id="coupon-code">
                            <button type="submit">Apply Coupon</button>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12 col-md-5 text-end">
                        <a href="cart.html" class="default-btn"><span>Update Cart</span></a>
                    </div>
                </div>
            </div>
            <div class="cart-totals">
                <ul>
                    <li>Subtotal <span>${{total}}</span></li>
                    <li>Shipping <span>$30.00</span></li>
                    <li>Total <span>${{shipvalue}}</span></li>
                </ul>
                <a [routerLink]="['/checkout']" class="default-btn"><span>Proceed to Checkout</span></a>
            </div>
        </form>
    </div>
</div>