<div class="row justify-content-center align-items-center">
    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="single-brands-box">
            <a href="shop-grid.html" class="d-block">
                <img src="assets/img/brands/brands1.png" alt="brands">
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="single-brands-box">
            <a href="shop-grid.html" class="d-block">
                <img src="assets/img/brands/brands2.png" alt="brands">
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="single-brands-box">
            <a href="shop-grid.html" class="d-block">
                <img src="assets/img/brands/brands3.png" alt="brands">
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="single-brands-box">
            <a href="shop-grid.html" class="d-block">
                <img src="assets/img/brands/brands4.png" alt="brands">
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="single-brands-box">
            <a href="shop-grid.html" class="d-block">
                <img src="assets/img/brands/brands5.png" alt="brands">
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
        <div class="single-brands-box">
            <a href="shop-grid.html" class="d-block">
                <img src="assets/img/brands/brands6.png" alt="brands">
            </a>
        </div>
    </div>
</div>