<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a [routerLink]="['/']" class="logo">
                        <img src="assets/img/white-logo.png" alt="logo">
                    </a>
                    <ul class="footer-contact-info">
                        <li><span>Hotline:</span> <a href="tel:12855">12855</a></li>
                        <li><span>Tech support:</span> <a href="tel:+1514312-5678">+1 (514) 312-5678</a></li>
                        <li><span>Email:</span> <a> abc@gmail.com</a>
                              
                        </li>
                        <li><span>Address:</span> 1523 Cook Hill Road New Haven, CT</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-4">
                    <h3>Information</h3>
                    <ul class="custom-links">
                        <li><a [routerLink]="['/about']">About Us</a></li>
                        <li><a [routerLink]="['/terms']">Terms & Conditions</a></li>
                        <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                        <li><a [routerLink]="['/privacy-policy']">Refund Policy</a></li>
                        <li><a [routerLink]="['/privacy-policy']">Cookie Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Customer service</h3>
                    <ul class="custom-links">
                        <li><a [routerLink]="['/profile-authentication']">My Account</a></li>
                        <li><a [routerLink]="['/faq']">FAQ's</a></li>
                        <li><a [routerLink]="['']">Order History</a></li>
                        <li><a [routerLink]="['/wishlist']">Wishlist</a></li>
                        <li><a [routerLink]="['/terms']">Delivery Information</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Subscribe to our newsletter!</h3>
                    <p>Sign up for our mailing list to get the latest updates news & offers.</p>
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="input-newsletter" placeholder="Your email address" name="EMAIL"
                            required autocomplete="off">
                        <button type="submit"><i class='bx bx-paper-plane'></i></button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                    <div class="payment-types">
                        <div class="d-flex align-items-center">
                            <span>We accept:</span>
                            <ul>
                                <li><img src="assets/img/payment/visa.png" alt="visa"></li>
                                <li><img src="assets/img/payment/mc.png" alt="master-card"></li>
                                <li><img src="assets/img/payment/paypal.png" alt="paypal"></li>
                                <li><img src="assets/img/payment/ae.png" alt="american-express"></li>
                                <li><img src="assets/img/payment/discover.png" alt="discover"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <p>Copyright @2021 <span>Patoi</span>. Design & Developed by <a href="https://envytheme.com/">EnvyTheme</a>
            </p>
        </div>
    </div>
</footer>
<!-- End Footer Area -->